<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <globalization requestEncoding="iso-8859-9" responseEncoding="iso-8859-9" culture="tr-TR" uiCulture="tr-TR" fileEncoding="iso-8859-9"/>
  </system.web>
	<system.webServer>
		<handlers>
			<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" name="ajaxHandler"/>
			<add verb="*" path="*.iam" type="AdaHttpHandler.AdaAnaHttpHandler, AdaHttpHandler" name="swaHttpHandler"/>
		</handlers>
		<rewrite>
			<rules>
				<rule name="Main Rule" stopProcessing="true">
					<match url=".*"/>
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="[_0-9a-zA-Z-]+\.ada$" negate="true"/>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="[_0-9a-zA-Z-]+\.iam$" negate="true"/>
						<add input="{REQUEST_URI}" pattern="signalr/*" negate="true" />
						<add input="{REQUEST_URI}" pattern="YuklenenDosyalar/*" negate="true" />
						<add input="{REQUEST_URI}" pattern="scripts/*" negate="true" />
						<add input="{REQUEST_URI}" pattern="YuklenenDosyalar/*" negate="true" />
						<add input="{REQUEST_URI}" pattern="Eklentiler/*" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.html" logRewrittenUrl="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
  <appSettings>
    <!--<add key="VeritabaniBaglantiString" value="Provider=vfpoledb.1;Collating Sequence=TURKISH;DATE=BRITISH;connection Timeout=1200;Data Source=c:\AAW\AdaYazilim\ADADATA.DBC" />
    <add key="VeritabaniTipi" value="FoxPro" />-->
    <add key="VeritabaniBaglantiString" value="Server=127.0.0.1;Uid=iam;Pwd=iamiam;Database=iam;" />
    <add key="VeritabaniTipi" value="MySql" />
    <add key="IAMTestModu" value="0" />
    <add key="MultiTenantSistem" value="1" />
    <add key="UygulamaKey" value="IAM" />
  </appSettings>

</configuration>

